.container {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.flex {
  /* background: #6AB6D8; */
  padding: 10px;
  margin-bottom: 50px;
  /* border: 3px solid #2E86BB; */
  /* border: 1px solid; */
  color: black;
  font-size: 20px;
  text-align: center;
  position: relative;
}

/* .flex:after {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  margin-top: 10px;
  width: 100%;
  color: #333;
  font-size: 18px;
} */

.controls {
  flex-basis: 15%;
}

.map {
  flex-basis: 60%;

}

.content_view {
  flex-basis: 15%;
}
