<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span OnClick="OnClose();" class="close">&times;</span>
      <h2>Add place</h2>
    </div>
    <div class="modal-body">
      <form method="post" >
          <p>
              {{ form.name.label }}<br>
              {{ form.name() }}
          </p>
          <p>
              {{ form.lant.label }}<br>
              {{ form.lant() }}
          </p>
          <p>
              {{ form.long.label }}<br>
              {{ form.long() }}
          </p>
          <p>
              {{ form.description.label }}<br>
              {{ form.description() }}
          </p>
          <p>
              {{ form.photos.label }}<br>
              {{ form.photos() }}
          </p>

          <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>
</div>
</body>
</html>