<html>
<head>
    <meta charset="UTF-8">
    <link href="/static/css/form_style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        function OnAddPlace() {
            console.log("Кнопка нажата.");
            var modal = parent.document.getElementById("myModal");
            modal.style.display = "block";
        }
    </script>

</head>
<body>
    <input type="button" value="Add place" name="Add place" OnClick="OnAddPlace();">
</body>
</html>