<html>
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
    {% block content %}
    <h1>Sign In</h1>
      <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
              {{ form.username.label }}<br>
              {{ form.username(size=32) }}
          </p>
          <p>
              {{ form.password.label }}<br>
              {{ form.password(size=32) }}
          </p>

          <p>{{ form.submit() }}</p>
      </form>
    {% endblock %}

</body>
</html>

