<html>
<head>
    <meta charset="UTF-8">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs/jquery.js') }}"></script>
    <script type="text/javascript">
        ymaps.ready(function () {

            console.log('llll');

            var PlacemarkArray = [];

            var map = new ymaps.Map('map', {
                center: [59.939095, 30.315961],
                zoom: 10,
                controls: []
            });
            console.log(map);

            var places_array = {{places | tojson}};
            console.log(places_array);
            places_array.forEach(function(element) {
                console.log(element[1]);
                var myPlacemark1 = new ymaps.Placemark([element[2], element[3]], {
                    iconContent: element[1]
                }, {
                    preset: 'islands#darkOrangeStretchyIcon'
                });
                myPlacemark1.events.add(['click'],  function (e) {
                    var url = '/content.html?fname=' + element[1];
                    parent.document.getElementById('contentFrameID').contentWindow.location = url;
                    parent.document.getElementById('controlsFrameID').contentDocument.getElementById("add_order_form").style.display="block";

                });
                PlacemarkArray.push(myPlacemark1);
                map.geoObjects.add(myPlacemark1);
            });



        });
    </script>
</head>
<body>
    <div id="map" style="margin:auto; width: 100%; height: 100%"></div>
</body>
</html>