<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href='/static/css/workspace_style.css' />
</head>
<body>
    <div class="container">
      <div class="flex controls">
          <iframe src="/controls.html" name="controlsFrame" id="controlsFrameID" width="100%" height="100%"></iframe>
      </div>
      <div class="flex map">
          <iframe src="/map.html" name="mapFrame" id="mapFrameID" width="100%" height="100%"></iframe>
      </div>
      <div class="flex content_view">
          <iframe src="/content.html" name="contentFrame" id="contentFrameID" width="100%" height="100%"></iframe>
      </div>
    </div>
</body>
</html>