<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU" type="text/javascript"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/libs/jquery341min.js') }}"></script>
    <script type="text/javascript">
        function map_init() {

            var PlacemarkArray = [];

            var map = new ymaps.Map('map', {
                center: [59.939095, 30.315961],
                zoom: 10,
                controls: []
            });

            var places = {{ places|tojson }};

            $.ajax({
                type: "POST",
                url: "/get_places",

                type: 'POST',
                success: function(response) {
                    var json = jQuery.parseJSON(response)
                    console.log('resp:');
                    console.log(response);
                },
                error: function(error) {
                    console.log('error:');
                    console.log(error);
                }
            });
            console.log('places:  ');
            console.log(places);

            places.forEach(function(element) {
                            console.log(element[1]);
                            var myPlacemark1 = new ymaps.Placemark([element[2], element[3]], {
                                iconContent: element[1]
                            }, {
                                preset: 'islands#darkOrangeStretchyIcon'
                            });
                            myPlacemark1.events.add(['click'],  function (e) {

                                console.log('click cluck');

                            });
                            PlacemarkArray.push(myPlacemark1);
                            map.geoObjects.add(myPlacemark1);
                        });
        }

    </script>

    <script type="text/javascript">
        function OnClose() {
            console.log('Close');
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
        function OnAddPlace() {
            console.log("Кнопка нажата.");
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
        }
        function OnSubmitAddPlace() {
            console.log("OnSubmitAddPlace");
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>
    <script type="text/javascript">

        $(document).ready(function() {
            ymaps.ready(function () {
                map_init();
                console.log('map:  ');
                console.log(map);
            });

            $('#addbaseID').click(function(e){
                e.preventDefault();
                var bName = $('#base_name').val();
                var bLant = $('#lant').val();
                var bLong = $('#long').val();
                var bDescription = $('#description').val();

                var files = $('#upload_images')[0].files;
                var bPhotos ='';

                const formData = new FormData();
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    formData.append('files[]', file);
                    bPhotos = bPhotos + file.name + '|';
                    console.log('files name:' + file.name);
                }
                bPhotos = bPhotos.substring(0, bPhotos.length - 1)

                formData.append('BaseName', bName);
                formData.append('BaseLant', bLant);
                formData.append('BaseLong', bLong);
                formData.append('BasePhotos', bPhotos);

                formData.append('BaseDescription', bDescription);
                console.log(formData);
                console.log(bName + ' ' + bLant + ' ' + bLong + ' ' + bDescription);

                $.ajax({
                  url: "./phps/add_base.php",
                  type: "POST",
                  // body: formData,
                  data: formData,
                  processData: false,  // tell jQuery not to process the data
                  contentType: false,  // tell jQuery not to set contentType
                  dataType: 'text',
                  cache: false,
                  success: function(data){
                      console.log('result of add_base():' + data);
                  }
                });
                document.getElementById('add_base_form').reset();
                var modal = document.getElementById("myModal");
                modal.style.display = "none";

                map_init();
            });
        });
    </script>


    <link href="/static/css/workspace_style.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/form_style.css" type="text/css" rel="stylesheet" />
</head>
<body>
{% block content %}
    <div class="container">
        <div class="header"> HEADER </div>
        <div class="controls">
            <input type="button" value="Add place" name="Add place" OnClick="OnAddPlace();">
        </div>
        <div class="map" id="divmapID">
           <div id="map" style="margin:auto; width: 100%; height: 100%"></div>
        </div>
        <div class="content"> </div>
        <div class="footer"> </div>
    </div>
            <!-- Modal content -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <span OnClick="OnClose();" class="close">&times;</span>
              <h2>Add place</h2>
            </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" id="add_base_form">
                <p>Название базы: <input type="text" id="base_name" /></p>
                <p>lant: <input type="text" id="lant" /></p>
                <p>long: <input type="text" id="long" /></p>
                <p>descr: <input type="text" id="description" /></p>
                <input type="file"  id="upload_images" min="1" max="999" name="userFile[]" multiple="true" />
                <p><input type="button" value="Добавить базу" id="addbaseID" name="addbase" /></p>
            </form>
        </div>
      </div>
    </div>

{% endblock %}


</body>
</html>