<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Workspace</title>

    <link href="/static/css/workspace_style.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/form_style.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?apikey=18f62a6d-77ff-4bb8-8f46-3b6d164fdf4d&lang=ru_RU"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/libs/jquery341min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/yamaps.js') }}"></script>


    <script type="text/javascript">
        function OnClose() {
            console.log('Close');
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }

        function OnSubmitAddPlace() {
            console.log("OnSubmitAddPlace");
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>

    <script type="text/javascript">

        var myYandexMap = null;

        $(document).ready(function() {
            myYandexMap = new YandexMap()
            myYandexMap.set_places();
            console.log('1 map:  ');
            console.log(myYandexMap);

            $('#openAddPlaseFormID').click(function(e){
                e.preventDefault();
                console.log("openAddPlaseFormID");
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
                console.log('myYandexMap:  ');
                console.log(myYandexMap);
            });

            $('#closeAddPlaceFormID').click(function(e){
                e.preventDefault();
                console.log("closeAddPlaceFormID");
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
                console.log('myYandexMap:  ');
                console.log(myYandexMap);
            });

            $('#confirmAddPlaseID').click(function(e){
                e.preventDefault();
                console.log("confirmAddPlaseID");
                $.ajax({
        			url: '/add_place',
        			data: $('form').serialize(),
        			type: 'POST',
        			success: function(response){
        			    //var json_resp = jQuery.parseJSON(response)
        				console.log(response);
        			},
        			error: function(error){
        				console.log(error);
        			}
        		});

                var modal = document.getElementById("myModal");
                modal.style.display = "none";

            });
        });
    </script>

</head>
<body>
{% block content %}
    <div class="container">
        <div class="header"> HEADER </div>
        <div class="controls">
            <input type="button" id="openAddPlaseFormID" value="Add place" name="Add place">
        </div>
        <div class="map" id="divmapID">
           <div id="map" style="margin:auto; width: 100%; height: 100%"></div>
        </div>
        <div class="content"> </div>
        <div class="footer"> </div>
    </div>
            <!-- Modal content -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <span id="closeAddPlaceFormID" class="close">&times;</span>
              <h2>Add place</h2>
            </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" name="add_plase_form" role="form">
                <p>Название базы: <input type="text" id="place_nameID" name="place_name" /></p>
                <p>lant: <input type="text" id="lantID" name="lant"/></p>
                <p>long: <input type="text" id="longID" name="long"/></p>
                <p>descr: <input type="text" id="descriptionID" name="description"/></p>
                <input type="file"  id="upload_imagesID" min="1" max="999" name="userFile[]" multiple="true" name="upload_images" />
                <p><input type="button" value="Добавить место" id="confirmAddPlaseID" name="addplace" /></p>
            </form>
        </div>
      </div>
    </div>
{% endblock %}
</body>
</html>
